//主颜色 背景色 辅助色
$mainColor: #f56c6c;
$bgColor: #344a5f;
$secColor:#cccccc;
$mainText: #666;

// 常用样式
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
  }
}

//css3属性兼容性处理
@mixin webkit($type, $value) {
  -webkit-#{$type}: $value;
  -moz-#{$type}: $value;
  -o-#{$type}: $value;
  -ms-#{$type}: $value;
  #{$type}: $value;
}

