.el-menu-item.is-active {
  background-color: $mainColor !important;
}
.el-menu--vertical {
  .el-menu-item {
    background-color: rgba($color: #344a5f, $alpha: 0.8) !important;
    &:hover {
      background-color: rgb(226, 150, 150) !important;
    }
  }
}

.el-table {
  td,
  th {
    text-align: center;
  }
  th {
    color: #344a5f;
    font-size: 15px;
  }
  .el-table-column--selection .cell {
    padding-right: 10px;
  }
}
.el-dialog__body {
  padding-bottom: 10px !important;
}

